@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?d2db6y");
  src: url("../fonts/icomoon.eot?d2db6y#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?d2db6y") format("truetype"), url("../fonts/icomoon.woff?d2db6y") format("woff"), url("../fonts/icomoon.svg?d2db6y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-thin-down:before {
  content: "\e901"; }

.icon-search:before {
  content: "\e900"; }

.icon-caret-right:before {
  content: "\f0da"; }

.icon-close:before {
  content: "\e5cd"; }

.clearfix:after, .doc-wrap:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

#header .container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  margin: 0 0 0 7px;
  max-width: 110px; }
  @media (max-width: 767px) {
    .logo {
      max-width: 104px; } }

.nav-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 25px;
  max-width: 881px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 881px;
      -ms-flex: 0 0 881px;
          flex: 0 0 881px; }
  @media (max-width: 991px) {
    .nav-holder {
      max-width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #555;
      z-index: 99998;
      width: 100%;
      padding: 66px 0 0;
      overflow: hidden;
      overflow-y: auto;
      -webkit-transform: translate(100%, 0);
          -ms-transform: translate(100%, 0);
              transform: translate(100%, 0);
      opacity: 0;
      visibility: hidden;
      -webkit-transition-property: opacity, visibility, -webkit-transform;
      transition-property: opacity, visibility, -webkit-transform;
      -o-transition-property: transform, opacity, visibility;
      transition-property: transform, opacity, visibility;
      transition-property: transform, opacity, visibility, -webkit-transform;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
      -webkit-transition-timing-function: linear;
           -o-transition-timing-function: linear;
              transition-timing-function: linear; } }
  @media (max-width: 991px) {
    .nav-active .nav-holder {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      opacity: 1;
      visibility: visible; } }

#nav {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 992px) {
    #nav {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }
  @media (max-width: 991px) {
    #nav li {
      width: 100%; } }
  #nav li.active a {
    background-color: #989898;
    color: #fff; }
  #nav a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: background-color .27s ease-in-out, color .27s ease-in-out;
    -o-transition: background-color .27s ease-in-out, color .27s ease-in-out;
    transition: background-color .27s ease-in-out, color .27s ease-in-out;
    text-transform: uppercase;
    padding: 19px 10px;
    letter-spacing: .02em; }
    #nav a:hover, #nav a:focus {
      background-color: #989898;
      color: #fff; }

.site-search {
  max-width: 167px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media (max-width: 991px) {
    .site-search {
      max-width: 50%; } }
  @media (min-width: 1054px) {
    .site-search {
      right: 0; } }
  .site-search.show a i:before {
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
  .site-search.show a i:after {
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .site-search a {
    color: #fff;
    font-size: 25px;
    width: 66px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #424242;
    -webkit-transition: color .27s ease-in-out, background-color .27s ease-in-out;
    -o-transition: color .27s ease-in-out, background-color .27s ease-in-out;
    transition: color .27s ease-in-out, background-color .27s ease-in-out;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 9999; }
    .site-search a:after {
      display: none; }
    .site-search a:hover, .site-search a:focus {
      background-color: #555; }
    .site-search a i:before, .site-search a i:after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: opacity .3s linear, -webkit-transform .3s linear;
      transition: opacity .3s linear, -webkit-transform .3s linear;
      -o-transition: transform .3s linear, opacity .3s linear;
      transition: transform .3s linear, opacity .3s linear;
      transition: transform .3s linear, opacity .3s linear, -webkit-transform .3s linear; }
    .site-search a i:before {
      -webkit-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
      opacity: 1; }
    .site-search a i:after {
      font-family: 'icomoon' !important;
      content: "\e5cd";
      -webkit-transform: translate(-50%, -50%) scale(0);
          -ms-transform: translate(-50%, -50%) scale(0);
              transform: translate(-50%, -50%) scale(0);
      opacity: 0; }
  .site-search .dropdown-menu {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transform: translate(0, 66px) !important;
        -ms-transform: translate(0, 66px) !important;
            transform: translate(0, 66px) !important;
    top: 0 !important;
    left: auto !important;
    right: 0;
    padding: 0;
    margin: 0;
    border: none;
    background: #555;
    height: 50px;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s linear, opacity .3s linear, -webkit-transform .3s linear;
    transition: visibility .3s linear, opacity .3s linear, -webkit-transform .3s linear;
    -o-transition: transform .3s linear, visibility .3s linear, opacity .3s linear;
    transition: transform .3s linear, visibility .3s linear, opacity .3s linear;
    transition: transform .3s linear, visibility .3s linear, opacity .3s linear, -webkit-transform .3s linear; }
    @media (max-width: 1199px) {
      .site-search .dropdown-menu {
        right: -webkit-calc((100vw - 1024px) / 2 * -1);
        right: calc((100vw - 1024px) / 2 * -1); } }
    @media (max-width: 991px) {
      .site-search .dropdown-menu {
        right: 0; } }
    .site-search .dropdown-menu.show {
      -webkit-transform: translate(0, 66px) !important;
          -ms-transform: translate(0, 66px) !important;
              transform: translate(0, 66px) !important;
      visibility: visible;
      opacity: 1; }

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .search-form input[type="search"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 35px 0 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 30px;
    width: 100%;
    -webkit-border-radius: 99px;
            border-radius: 99px;
    color: #fff;
    font-size: 13px;
    font-weight: 300; }
    @media (max-width: 991px) {
      .search-form input[type="search"] {
        padding-left: 10px; } }
    .search-form input[type="search"]::-webkit-input-placeholder {
      color: #fff;
      text-transform: capitalize; }
    .search-form input[type="search"]::-moz-placeholder {
      opacity: 1;
      color: #fff;
      text-transform: capitalize; }
    .search-form input[type="search"]:-moz-placeholder {
      color: #fff;
      text-transform: capitalize; }
    .search-form input[type="search"]:-ms-input-placeholder {
      color: #fff;
      text-transform: capitalize; }
    .search-form input[type="search"].placeholder {
      color: #fff;
      text-transform: capitalize; }
  .search-form button {
    width: 22px;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    padding: 0 1.5em 0;
    color: #a5a5a5;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 0;
    font-size: 14px;
    color: #fff;
    padding: 0;
    overflow: hidden;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .search-form button:hover {
      color: #fff;
      background: transparent; }

.burger-wrap {
  position: relative;
  z-index: 99999;
  margin: 0 0 0 auto; }
  @media (min-width: 992px) {
    .burger-wrap {
      display: none; } }

.nav-opener {
  display: block;
  width: 40px;
  height: 40px;
  position: relative; }
  .nav-active .nav-opener span {
    opacity: 0; }
  .nav-active .nav-opener:before, .nav-active .nav-opener:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    left: 15%;
    right: 15%; }
  .nav-active .nav-opener:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .nav-opener span, .nav-opener:before, .nav-opener:after {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    height: 3px;
    margin-top: -2px;
    /* height/2 */
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .nav-opener:before, .nav-opener:after {
    content: '';
    top: 30%; }
  .nav-opener:after {
    top: 70%; }

html {
  font-size: 16px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px; }
  @media (max-width: 991px) {
    body.nav-active {
      height: 100vh;
      overflow: hidden; } }

.container {
  max-width: 1280px; }

img {
  max-width: 100%;
  height: auto; }

.resize-active * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#wrapper {
  overflow: hidden;
  position: relative; }

.page-header {
  padding: 12px 0 11px; }

.page-title {
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase; }

.nested-nav-wrap {
  padding: 30px 0 0;
  margin: 0 0 10px; }
  @media (min-width: 768px) {
    .nested-nav-wrap {
      padding: 35px 0 0;
      margin: 0 0 29px; } }

.nested-nav-list {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }
  @media (max-width: 767px) {
    .nested-nav-list {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      font-size: 14px; } }
  @media (max-width: 575px) {
    .nested-nav-list li {
      width: 100%; } }
  .nested-nav-list li:not(:last-child) {
    margin: 0 0 1em; }
    @media (min-width: 576px) {
      .nested-nav-list li:not(:last-child) {
        margin: 0 1em 0 0; } }
    @media (min-width: 768px) {
      .nested-nav-list li:not(:last-child) {
        margin: 0 1.8em 0 0; } }
    @media (min-width: 992px) {
      .nested-nav-list li:not(:last-child) {
        margin: 0 4.8em 0 0; } }
  .nested-nav-list li.active a {
    color: #000; }
    .nested-nav-list li.active a:before {
      opacity: 1; }
  .nested-nav-list li a {
    color: #f38230;
    position: relative;
    -webkit-transition: color .27s linear;
    -o-transition: color .27s linear;
    transition: color .27s linear; }
    .nested-nav-list li a:hover, .nested-nav-list li a:focus {
      color: #000; }
      .nested-nav-list li a:hover:before, .nested-nav-list li a:focus:before {
        height: 2px;
        opacity: 1; }
        @media (min-width: 768px) {
          .nested-nav-list li a:hover:before, .nested-nav-list li a:focus:before {
            height: 3px; } }
    .nested-nav-list li a:before {
      content: '';
      right: -2px;
      left: -2px;
      opacity: 0;
      height: 2px;
      background: #000;
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transition: height .27s linear, opacity .27s linear;
      -o-transition: height .27s linear, opacity .27s linear;
      transition: height .27s linear, opacity .27s linear; }
      @media (min-width: 768px) {
        .nested-nav-list li a:before {
          bottom: auto;
          top: -0.7em;
          height: 3px; } }

.doc-wrap {
  position: relative; }

/* documentation navigation */
.doc-nav {
  width: 100%; }
  @media (min-width: 768px) {
    .doc-nav {
      width: 278px;
      height: -webkit-calc(100vh - 184px);
      height: calc(100vh - 184px);
      overflow: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff; } }
  @media (min-width: 768px) {
    .doc-nav.fixed {
      position: fixed;
      height: 98vh;
      top: 0;
      left: 15px; } }
  @media (min-width: 1054px) {
    .doc-nav.fixed {
      left: -webkit-calc((100vw - 1039px) / 2);
      left: calc((100vw - 1039px) / 2); } }

.doc-nav-list {
  font-size: 14px;
  line-height: 1;
  color: #424242; }
  .doc-nav-list > li > a,
  .doc-nav-list > li > button {
    width: 100%;
    display: block;
    text-align: left;
    padding: 18px 19px 15px;
    border-bottom: 1px solid #d9d9d9;
    letter-spacing: .05em; }
  .doc-nav-list > li > button {
    position: relative; }
    .doc-nav-list > li > button:before {
      font-family: 'icomoon' !important;
      content: '\e901';
      font-size: 1.2em;
      position: absolute;
      color: #95989a;
      right: 33px;
      top: 50%;
      -webkit-transform: translate(0, -50%) rotate(0deg);
          -ms-transform: translate(0, -50%) rotate(0deg);
              transform: translate(0, -50%) rotate(0deg);
      -webkit-transition: border-color .27s linear, -webkit-transform .27s linear;
      transition: border-color .27s linear, -webkit-transform .27s linear;
      -o-transition: transform .27s linear, border-color .27s linear;
      transition: transform .27s linear, border-color .27s linear;
      transition: transform .27s linear, border-color .27s linear, -webkit-transform .27s linear; }
    .doc-nav-list > li > button[aria-expanded="true"] {
      border-bottom: transparent; }
      .doc-nav-list > li > button[aria-expanded="true"]:before {
        -webkit-transform: translate(0, -50%) rotate(-180deg);
            -ms-transform: translate(0, -50%) rotate(-180deg);
                transform: translate(0, -50%) rotate(-180deg); }
  .doc-nav-list a {
    color: #424242;
    outline: none;
    -webkit-transition: color .27s ease-in-out;
    -o-transition: color .27s ease-in-out;
    transition: color .27s ease-in-out; }
    .doc-nav-list a:hover {
      color: #f38230; }
    .doc-nav-list a.active {
      color: #f38230; }
  .doc-nav-list button {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .27s ease-in-out;
    -o-transition: color .27s ease-in-out;
    transition: color .27s ease-in-out; }
    .doc-nav-list button:hover {
      color: #f38230; }

.sub-nav-list {
  background-color: #f4f4f4; }
  .sub-nav-list > li > a,
  .sub-nav-list > li > button {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 0 0 33px;
    position: relative;
    position: relative;
    letter-spacing: .055em;
    padding: 9px 5px 9px 33px; }
  .sub-nav-list > li > button {
    padding: 9px 5px 9px 23px; }
    .sub-nav-list > li > button:before {
      font-family: 'icomoon' !important;
      content: '\f0da';
      display: inline-block;
      font-size: .9em;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: -webkit-transform .27s linear;
      transition: -webkit-transform .27s linear;
      -o-transition: transform .27s linear;
      transition: transform .27s linear;
      transition: transform .27s linear, -webkit-transform .27s linear;
      color: #424242;
      margin: 0 .4em 0 0; }
    .sub-nav-list > li > button[aria-expanded="true"]:before {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }

.last-nav-list {
  padding: 0 0 0 40px; }
  .last-nav-list a {
    display: block;
    padding: 7px 5px 7px 0; }

/* documentation main content */
.doc-body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  padding: 15px 0 0; }
  @media (min-width: 768px) {
    .doc-body {
      width: -webkit-calc(100% - 278px);
      width: calc(100% - 278px);
      margin: 0 0 0 278px;
      padding: 0 10px 0 30px; } }
  @media (min-width: 992px) {
    .doc-body {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    .doc-body {
      padding: 0 10px 0 9%;
      width: -webkit-calc(100% - 382px);
      width: calc(100% - 382px); } }
  @media (min-width: 768px) {
    .doc-body.wide-mod {
      width: -webkit-calc(100% - 278px);
      width: calc(100% - 278px); } }
  .doc-body h1 {
    font-size: 32px;
    line-height: 1;
    color: #000;
    font-weight: 300;
    margin: 0 0 .5em; }
    @media (min-width: 992px) {
      .doc-body h1 {
        font-size: 36px;
        margin: 0 0 .8em; } }
  .doc-body h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 1.3em; }
  .doc-body p {
    margin: 0 0 1.7em; }
  .doc-body blockquote {
    font-size: 14px;
    line-height: 1.3;
    color: #424242;
    background-color: #f4f4f4;
    padding: 26px 19px 23px;
    margin: 0 0 3em; }
    .doc-body blockquote p {
      margin: 0; }
  .doc-body hr {
    border-color: #707070;
    border-width: 2px;
    margin: 1.5em 0; }
    @media (min-width: 992px) {
      .doc-body hr {
        margin: 2.3em 0; } }
  .doc-body ul {
    padding: 0 0 0 1.2em; }
  .doc-body dl {
    margin: 0 0 2em;
    font-size: 14px; }
    .doc-body dl > div {
      margin: 0 0 .3em; }
    .doc-body dl dt {
      display: inline;
      vertical-align: middle; }
    .doc-body dl dd {
      display: inline;
      vertical-align: middle; }
    .doc-body dl code {
      background-color: #f4f4f4;
      color: #000;
      font-size: 12px;
      line-height: 24px;
      font-weight: 300;
      padding: .2em .6em;
      margin: 0 .4em 0 0; }
  .doc-body .font-small {
    font-size: 14px; }

/* documentation anchor list */
.doc-anchor {
  margin: 0 0 2em; }
  @media (min-width: 1200px) {
    .doc-anchor {
      width: 163px;
      height: -webkit-calc(100vh - 184px);
      height: calc(100vh - 184px);
      position: absolute;
      top: 0;
      right: -59px;
      overflow: hidden;
      overflow-y: auto;
      margin: 0; } }
  @media (min-width: 1200px) {
    .doc-anchor.fixed {
      height: 98vh;
      position: fixed;
      top: 0;
      right: -webkit-calc((100vw - 1159px) / 2);
      right: calc((100vw - 1159px) / 2); } }
  .doc-anchor .anchor-list {
    border-left: 3px solid #f38230;
    font-size: 14px;
    line-height: 1.2;
    padding: 2px 0 0 15px;
    margin: 0; }
    .doc-anchor .anchor-list > li:not(:last-child) {
      margin: 0 0 .85em; }
    .doc-anchor .anchor-list > li a {
      color: #424242;
      font-weight: 300;
      -webkit-transition: color .27s ease-in-out;
      -o-transition: color .27s ease-in-out;
      transition: color .27s ease-in-out; }
      .doc-anchor .anchor-list > li a:hover {
        color: #f38230; }
      .doc-anchor .anchor-list > li a.anchor-active {
        font-weight: 400; }

/* overview styles*/
.intro-header {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.33;
  margin: 0 0 2em; }
  @media (min-width: 992px) {
    .intro-header {
      font-size: 18px;
      margin: 0 0 41px; } }
  .intro-header h1 {
    font-size: 32px;
    line-height: 1.2;
    margin: 0 0 .5em; }
    @media (min-width: 992px) {
      .intro-header h1 {
        font-size: 36px;
        margin: 0 0 .6em; } }
  .intro-header p {
    margin: 0; }
    .intro-header p:not(:last-child) {
      margin: 0 0 1em; }

.intro-list {
  margin: 0 -15px; }
  .intro-list.two-column > li {
    width: 50%;
    padding: 0 15px;
    margin: 0 0 1.5em; }
    @media (min-width: 576px) {
      .intro-list.two-column > li {
        margin: 0 0 2em; } }
  .intro-list > li {
    width: 50%;
    padding: 0 15px;
    margin: 0 0 1.5em; }
    @media (min-width: 576px) {
      .intro-list > li {
        margin: 0 0 2em; } }
    @media (min-width: 768px) {
      .intro-list > li {
        width: 33.3333%; } }

.intro-card {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #424242;
  -webkit-transition: color .27s ease-in-out;
  -o-transition: color .27s ease-in-out;
  transition: color .27s ease-in-out; }
  @media (max-width: 575px) {
    .intro-card {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media (min-width: 992px) {
    .intro-card {
      font-size: 18px; } }
  .intro-card h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 .3em; }
    @media (min-width: 992px) {
      .intro-card h3 {
        font-size: 18px;
        margin: 0 0 .6em; } }
  .intro-card .entry-icon {
    width: 40px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: 0 0 10px; }
    @media (min-width: 576px) {
      .intro-card .entry-icon {
        margin: 0 8px 0 0; } }
    @media (min-width: 992px) {
      .intro-card .entry-icon {
        width: 108px;
        margin: 0; } }
  @media (max-width: 575px) {
    .intro-card .entry-body {
      width: 100%; } }
  .intro-card .entry-body p {
    margin: 0; }
    .intro-card .entry-body p:not(:last-child) {
      margin: 0 0 .6em; }
  .intro-card a {
    color: inherit; }
    .intro-card a:hover, .intro-card a:focus {
      color: #f38230; }

a.intro-card:hover, a.intro-card:focus {
  color: #f38230; }

.features-section {
  padding: 30px 0;
  position: relative; }
  @media (min-width: 768px) {
    .features-section {
      padding: 40px 0; } }
  @media (min-width: 992px) {
    .features-section {
      padding: 48px 87px 88px; } }
  .features-section:before {
    content: '';
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: inherit;
    z-index: -1; }
  .features-section h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    color: #424242;
    margin: 0 0 1.2em; }
    @media (min-width: 992px) {
      .features-section h3 {
        font-size: 18px;
        margin: 0 0 2.5em; } }

.features-heading {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 300;
  margin: 0 0 .8em; }
  @media (min-width: 992px) {
    .features-heading {
      font-size: 36px;
      margin: 0 0 1.02em; } }

.features-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 576px) {
    .features-grid {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .features-grid > .entry-item {
    width: 100%; }
    @media (min-width: 576px) {
      .features-grid > .entry-item {
        width: 49%; } }
    @media (min-width: 768px) {
      .features-grid > .entry-item {
        width: 40%; } }
    @media (min-width: 992px) {
      .features-grid > .entry-item {
        width: 34.4%; } }
    @media (max-width: 575px) {
      .features-grid > .entry-item:not(:last-child) {
        margin: 0 0 3em; } }

.features-list {
  padding: 0 0 0 15px; }
  .features-list > li:not(:last-child) {
    margin: 0 0 1.5em; }
    @media (min-width: 992px) {
      .features-list > li:not(:last-child) {
        margin: 0 0 2.66em; } }

.features-card .entry-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 40px;
  margin: 0 10px 0 0; }
  @media (min-width: 992px) {
    .features-card .entry-icon {
      margin: 0 22px 0 0; } }

.features-card h4 {
  font-size: 14px;
  line-height: 1.333;
  font-weight: 700;
  color: #424242;
  margin: 0; }
  @media (min-width: 768px) {
    .features-card h4 {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .features-card h4 {
      font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
