---
layout: documentation
title: Documentation
---

<div class="row">
	<div class="col-12">
		<header class="intro-header">
			<h1 class="font-weight-light">Nabto 5 Developer Documentation</h1>
			<p>Developer documentation for the Nabto 5 platform. For Nabto 4 and earlier, please see the documents available on <a href="https://downloads.nabto.com/">downloads.nabto.com</a>.</p>
                        <p>Start with the Getting Started guides to understand what it takes to start developing. See tutorials for step by step guides to fully working example applications.</p>
		</header>
		{% include doc-blocks/intro_list.html  content_data = site.data.documentation_content.intro_list add_class = 'three-column' %}
	</div>
</div>
<section class="features-section bg-light">
	<header>
		<h2 class="features-heading font-weight-light">Nabto features</h2>
	</header>
	<div class="features-grid">
		<div class="entry-item">
			<h3 class="text-uppercase">Client features</h3>
			{% include doc-blocks/features_list.html  content_data = site.data.documentation_content.client_features_list %}
		</div>
		<div class="entry-item">
			<h3 class="text-uppercase">Embedded device features</h3>
			{% include doc-blocks/features_list.html  content_data = site.data.documentation_content.embedded_device_features_list %}
		</div>
	</div>
</section>
