<ul class="intro-list {{ include.add_class }} row list-unstyled mb-0">
	{% for item in include.content_data %}
	<li>
		<div class="intro-card d-flex">
			<div class="entry-icon">
				<img src="{{ site.url }}/{{ item.img_src }}" alt="{{ item.img_alt }}" width="{{ item.img_width }}" height="{{ item.img_height }}">
			</div>
			<div class="entry-body">
				<h3>
					<a href="{{ site.url }}/{{ item.href1 }}">{{ item.heading }}</a>
				</h3>
				<p>
					<a href="{{ site.url }}/{{ item.href2 }}">{{ item.linkAPI }}</a> </p>
				<p>
					<a href="X{{ site.url }}Y/{{ item.href3 }}">{{ item.linkTutorial }}</a>
				</p>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
